/* CSS for about section */
.aboutContainer {
  background-color: rgb(120, 15, 255);
  color: white;
  padding: 9vw;
}

.aboutContainer p {
  font-size: 1.1rem;

}

.aboutContainer a {
  font-size: 1.2rem;
}

/* CSS for timeline section */
.internshipSection {
  position: relative;
  padding: 1vw;
  background-color: rgb(240, 240, 240);
}

.experienceTitle {
  font-size: 1.5rem;
  margin: 1vw;
}

.timeline {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center;
  gap: 10px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.timeline::before {
  content: '';
  position: absolute;
  height: 2px;
  background-color: rgb(120, 15, 255);
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1; 
}

.timelineItem {
  display: flex;
  align-items: center;
  width: 300px;
  padding: 20px;
  position: relative;
  margin: 10px;
}

.timelineContent {
  background: white;
  border: 2px solid rgb(120, 15, 255);
  border-radius: 6px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.timelineContent img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 0 auto;
}

.timelineDates {
  font-size: 0.9rem;
  color: rgb(120, 15, 255);
  margin-top: 5px;
}

/* Skill section Css  */
.skillsSection {
  margin: 40px;
}

.skillsTitle {
  margin-bottom: 20px;
  font: 1.5rem;
}

.skillsContainer ul {
  list-style-type: none; 
  padding: 0; 
}

.skillsContainer li {
  background-color: #fff; 
  padding: 10px; 
  margin-bottom: 10px; 
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skillsContainer li strong {
  color: rgb(120, 15, 255);
}




/* Responsive adjustments */
@media (max-width: 768px) {
  .timeline {
    flex-wrap: wrap;
  }

  .timelineItem {
    margin: 10px;
  }

  .timelineContent {
    padding: 15px;
  }

  .timelineContent img {
    width: 120px;
  }
}

@media (max-width: 480px) {
  .timelineItem {
    width: 100%;
  }

  .timelineContent {
    padding: 15px;
  }

  .timelineContent img {
    width: 70px;
  }
}
