.blog-container {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    padding-top: 3vw;
}

.blog-post {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 10px;
}

.blog-article {
    margin: 10px;
    padding: 0px 5px;
    line-height: 1.6;
    overflow: hidden;
}

.blog-content {
    font-size: 16px;
}

.back-top{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 23px;
}
.back-top img{
    color: rgba(119, 15, 255, 0.7);
   width: 50px;
   cursor: pointer;
}

.post-date {
    display: inline;
    position: absolute;
    left: 20px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    color: rgba(119, 15, 255, 0.7);
}

.blog-button {
    margin-top: 2vw;
    padding: 0vw 2vw;
}