* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  line-height: 2;
  list-style: none;
}

/* Button CSS is written here  */
/* button {
  background-color: transparent;
  color: rgb(120, 15, 255);
  border: 2px solid rgb(120, 15, 255);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: rgb(120, 15, 255);
  color: white;
} */