.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem; 
    /* border: 2px solid black; */
}

.navbar {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
}

.navlink {
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.navlink a {
    color: black;
    padding: 0.5rem 1rem; /* Use rem units for better responsiveness */
    margin: 0 0.5rem;
    font-size: 1.3rem; /* Responsive font size */
    text-decoration: none;
}

.navlink a:hover {
    color: rgb(120, 15, 255);
}

.businessInquiryButton {
    background-color: transparent;
    color: rgb(120, 15, 255);
    border: 2px solid rgb(120, 15, 255);
    padding: 7px 18px;
    cursor: pointer;
    border-radius: 35px;
    font-size: 1rem; /* Responsive font size */
    transition: background-color 0.3s, color 0.3s;
}

.businessInquiryButton:hover {
    background-color: rgb(120, 15, 255);
    color: white;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .navlink {
        width: 100%;
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }

    .navlink a {
        font-size: 0.9rem; /* Adjust font size */
        margin: 5px 0;
    }

    .businessInquiryButton {
        font-size: 0.9rem; /* Adjust font size */
        padding: 5px 15px; /* Adjust padding */
    }
}

@media (max-width: 480px) {
    .header {
        height: auto; /* Adjust height for very small screens */
    }

    .navlink a {
        font-size: 0.8rem; /* Further reduce font size */
        padding: 0.5rem;
    }

    .businessInquiryButton {
        font-size: 0.8rem; /* Further reduce font size */
        padding: 5px 10px; /* Further adjust padding */
    }
}
