.projectSection {
    padding: 2vw;
    text-align: center;
}

.projectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /* Center the items horizontally */
}

.projectCard {
    background-color: rgba(251, 251, 251, 0.453);
    box-shadow: 0px 0px 10px rgba(100, 74, 160, 0.1);
    margin: 1vw;
    width: 240px;
    height: 240px;
    /* Ensure responsive sizing */
    box-sizing: border-box;
    transition: transform 0.3s ease;
    /* Smooth transform on hover */
}

.projectCard:hover {
    transform: scale(1.05);
    /* Slightly enlarge card on hover */
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    /* Make overlay responsive */
    height: 100%;
    top: 0;
    opacity: 0;
    color: white;
    transition: opacity 1.2s ease;
}

.imageContainer:hover .overlay {
    opacity: 1;
}

.projectCard p {
    font-size: 1rem;
    /* Use rem for better scalability */
    margin: 0;
}

.projectViewButton {
    font-size: 0.9rem;
    /* Use rem for better scalability */
    color: rgb(120, 15, 255);
    background-color: transparent;
    border: 1px solid rgb(120, 15, 255);
    width: 100%;
    padding: 5px;
    margin: 6px;
    color: rgb(120, 15, 255);
}


.loading {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-top: 20px;
}

.error {
    font-size: 18px;
    color: #f00;
    text-align: center;
    margin-top: 20px;
}

.noProjectFound {
    font-size: 18px;
    color: #888;
    text-align: center;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .projectCard {
        width: 100%;
        /* Full width on smaller screens */
        max-width: 300px;
        /* Limit max width */
        height: auto;
        /* Adjust height accordingly */
    }
}

@media (max-width: 480px) {
    .projectCard {
        width: 100%;
        margin: 2vw 0;
        /* Adjust margins for smaller screens */
    }

    .projectViewButton {
        font-size: 0.8rem;
        /* Smaller font size on very small screens */
    }

    .projectSection {
        padding: 4vw 2vw;
        /* Increase padding for very small screens */
    }
}